.login-form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90dvh;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	border: solid 3px var(--dark-accent);
	border-radius: 12px;
	background-color: var(--light-accent);
}
